Django==1.4.3
South==0.7.4
dj-database-url==0.2.1
psycopg2==2.7.5
gunicorn==0.16.1
Pillow==3.0.0
easy-thumbnails==1.1
boto==2.6.0
django-storages==1.1.5
django-bootstrap-form==2.0.5
reportlab==3.5.55
django-suit==0.2.12
django-suit-ckeditor==0.0.2
