{% extends "base_event.html" %}
{% load talk_type %}

{% block title %}{{ event }}{% endblock %}

{% block extrastyle %}
  <meta property="og:title" content="PUG-PE" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ STATIC_URL }}img/img-logo.png" />
  <meta property="og:site_name" content="PUG-PE" />
  <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
  <meta property="og:url" content="http://pycon.pug.pe{% url events:event event.slug %}" />
  <meta property="og:description" content="{{ event.description }}" />
{% endblock %}

{% block event_content %}
  <!-- Social Buttons start -->
  <div class="fb-like" href="http://pycon.pug.pe{% url events:event event.slug %}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
  <script src="http://platform.twitter.com/widgets.js"></script>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ event.description }} http://pycon.pug.pe/{{ event.slug }}/" data-count="horizontal" data-lang="pt">Tweetar</a>
  <!-- Social Buttons end -->
  <h2 class="title" id="home">{{ event.description }} ({{ event.date|date:"d/m" }})</h2>
  <p>{{ event.full_description|safe }}</p>

  <h2 class="title" id="local">Como Chegar?</h2>
  {% if event.location %}
  <p><a target="_blank" href="{{ event.location.map_link }}" style="color:#0000FF;text-align:left"><img src="{{ event.location.static_map }}" alt="{{ event.location.description }} - " /><br /><small>Exibir mapa ampliado</small></a></p>
  <h5>Local: {{ event.location.description }} </h5>
  <h5>{{ event.location.address }}</h5>
  <h5>Referência: {{ event.location.reference }}</h5>
  {% else %}
  <h5>Local: ainda não definido.
  {% endif %}
  <h5>Horário: {{ event.date }} </h5> 
  <h5>Entrada: Gratuita</h5>

  {% regroup talks by talk.type as talk_types %}

  {% for types in talk_types %}
      {% if types.grouper %}
          <h2 class="title" id="talks">{{ types.grouper|verbose_talk_type }}</h2>
      {% endif %}
      {% for talk in types.list %}
          {% if talk.talk %}
              <div class="panel">
                <h4 class="red">{{ talk.talk.title }}</h4>
                <div class="left">
                    <img src="{{ talk.talk.gravatar }}" class="left" />
                    <br />
                    <h6 class="left">{{ talk.talk.name }}</h6>
                </div>
                <p>{{ talk.talk.summary }}</p>
              </div>
          {% endif %}
      {% endfor %}
  {% empty %}
      <p>Divulgaremos as palestras em breve!</p>
  {% endfor %}

  <h2 class="title" id="agenda">Programação</h2>
  <table>
      <thead>
        <tr>
          <th>Horário</th>
          <th>O que?</th>
          <th>Quem?</th>
        </tr>
      </thead>
      <tbody>
        {% for talk in talks %}
        <tr>
            <td>{{ talk.start }} - {{ talk.end }}</td>
            <td>{{ talk.get_title }}</td>
            <td>{{ talk.get_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}
