<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>XX Encontro do PUG-PE</title>
        <link href="{{ STATIC_URL }}css/xx/bootstrap/css/bootstrap.css" rel="stylesheet" >
        <link rel="image_src" href="{{ STATIC_URL }}img/xx/imagens/logo.png" />
        <!-- meta tags Open Graph protocol -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}{{ STATIC_URL }}img/xx/imagens/favicon.ico">
        <link rel="icon" href="{{ STATIC_URL }}img/xx/imagens/favicon.ico">
        <link rel="apple-touch-icon" href=" ">
        <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-34635796-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

        </script>

    </head>
    <body>

        <div align="center" id="logo">
            <img src="{{ STATIC_URL }}img/xx/imagens/logo.png" class="img-rounded center">
        </div>
        <div align="center" id="como-chegar">
            <a target="_blank" href="https://maps.google.com/?q=r.benfica,455-recife" style="color:#0000FF;text-align:left"><img src="http://maps.google.com/maps/api/staticmap?center=-8.058767,-34.903340&zoom=16&markers=-8.058767,-34.903340&size=600x300&sensor=false" alt="Escola Politécnica de Pernambuco (POLI - UPE) - Rua Benfica, 455 - Madalena, Recife, PE" /><br /><small>Exibir mapa ampliado</small></a>
        </div>
        <div align="center">
            <h5>Local: Escola Politécnica de Pernambuco, Auditório Principal em frente a quadra de esportes. (vizinho ao clube internacional).</h5>
            <h5>Rua Benfica, 455 - Madalena, Recife, PE</h5>
            <h5>Horário: Das 8:00 as 18:00</h5> 
            <h5>Entrada: Gratuita</h5>
        </div>
        <div id="grade">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Conteúdo</th>
                        <th>Palestrantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>08:00 - 09:00</td>
                        <td>Abertura e Inscrições</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>09:00 - 09:30</td>
                        <td>Apresentação sobre o PUG-PE</td>
                        <td>Fernando Rocha, Gileno Alves e Renato Oliveira</td>
                    </tr>
                    <tr>
                        <td>09:30 - 10:20</td>
                        <td>Automatização com Python de Listas de Pontos para Subestações do Setor Elétrico</td>
                        <td>Hugo Everaldo Salvador Bezerra</td>
                    </tr>
                    <tr>
                        <td>10:30 - 11:00</td>
                        <td>O estado da arte do deploy em python</td>
                        <td>Fernando Rocha </td>
                    </tr>
                    <tr>
                        <td>11:10 - 11:40</td>
                        <td>Células Empreendedoras</td>
                        <td>Genésio</td>
                    </tr>
                    <tr>
                        <td>11:50 - 12:20</td>
                        <td>Lighting Talks Round 1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12:30 - 14:00</td>
                        <td>Almoço</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14:00 - 14:50</td>
                        <td>Projeto Amadeus - Sistema de Gestão da Aprendizagem</td>
                        <td>Celo Melo e Paulo Perris </td>
                    </tr>
                    <tr>
                        <td>15:00 - 15:30</td>
                        <td>E dá para desenvolver web games com Django?</td>
                        <td>Guilherme Medeiros</td>
                    </tr>
                    <tr>
                        <td>15:40 - 16:10</td>
                        <td>Computação Científica</td>
                        <td>Igor Fagner</td>
                    </tr>
                    <tr>
                        <td>16:20 - 17:00</td>
                        <td>Python on Raspberry Pi</td>
                        <td>Daker Fernandes Pinheiro</td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:30</td>
                        <td>Lighting Talks Round 2</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row show-grid underhero">
            <div class="span3">
                <h2 style="margin-top:10px;">Parceiros</h2>
            </div>
            <div class="span3">
                <a target="_blank" href="http://www.poli.br/">
                    <img src="{{ STATIC_URL }}img/xx/imagens/poli.png" alt="POLI-UPE" width="150" />
                </a>
            </div>
            <div class="span3">
                <a target="_blank" href="http://www.hostech.com.br/">
                    <img src="{{ STATIC_URL }}img/xx/imagens/hostech.png" alt="Hostech" width="150" />
                </a>
            </div>
            <div class="span3">
                <a target="_blank" href="http://amadeus.cin.ufpe.br/">
                    <img style="margin-top:10px;" src="{{ STATIC_URL }}img/xx/imagens/amadeus.jpg" alt="Amadeus" width="150" />
                </a>
            </div>
            <div class="span3">
                <a target="_blank" href="http://www.ecomp.poli.br/">
                    <img style="margin-top:10px;" src="{{ STATIC_URL }}img/xx/imagens/engComp.bmp" alt="热酷" width="150" />
                </a>
            </div>

        </div><!--END grid-->
        <div class="row show-grid underhero">
            <div class="span3">&nbsp;</div>

            <div class="span3">
                <a target="_blank" href="https://www.facebook.com/celulasempreendedoras">
                    <img style="margin-top:10px;" src="{{ STATIC_URL }}img/xx/imagens/celulas.jpg" alt="Células Empreendedoras" width="150" />
                </a>
            </div>

            <div class="span3">
                <a target="_blank" href="http://pycursos.com">
                    <img style="margin-top:20px;" src="{{ STATIC_URL }}img/xx/imagens/pycursos.png" alt="Douban" width="200" />
                </a>
            </div>

            <div class="span3">
                <a target="_blank" href="mailto:contato@labcodes.com.br">
                    <img src="{{ STATIC_URL }}img/xx/imagens/labcodes.png" alt="" width="180" />
                </a>
            </div>

            <div class="span3">
                <a target="_blank" href="http://orygens.com.br">
                    <img src="{{ STATIC_URL }}img/xx/imagens/orygens.png" alt="" width="200" />
                </a>
            </div>
        </div>
    </body>
</html>
