{% extends "base.html" %}

{% block title %}Eventos Passados{% endblock %}

{% block navigator %}
{% comment %}
  <ul>
    <li>
      <a href="" class="active"></a>
    </li>
    <li>
      <a href=""></a>
    </li>
  </ul>
  {% endcomment %}
{% endblock %}

{% block content %}
    <h2 class="title" id="local">Sobre o PUG-PE</h2>
    <div class="panel">
    <p>
        O PUG-PE (Grupo de Usuários de Python de Pernambuco) é uma iniciativa de um grupo de entusiastas, estudantes, professores, empresas e profissionais interessados em compartilhar e aprender experiências relacionadas à linguagem de programação Python, tecnologia, cultura digital e software livre em Pernambuco.
    </p>
    <p>
        O grupo realiza encontros mensalmente, e já é uma referência no calendário de eventos de tecnologia em Pernambuco. Nossos encontros visam disseminar tal plataforma entre as universidades e empresas e ao mesmo tempo discutir assuntos relacionados a Software Livre, estimulando assim a disseminação da cultura agregada ao tema e na divulgação e estímulo de desenvolvimento de software no nosso estado. Python é uma linguagem de programação usada para construção de aplicativos e é mundialmente conhecida, sendo umas das 10 mais utilizadas no mercado e escolhida como plataforma em empresas como Google, Nasa, Mozilla, Globo.com, entre outras.
    </p>
    </div>
{% endblock %}