<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <meta property="og:title" content="PUG-PE" />
  <meta property="og:image" content="{{ STATIC_URL }}img/img-logo.png" />
  <meta property="og:site_name" content="PUG-PE" />
  <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
  <meta property="og:site_name" content="http://pycon.pug.pe{% url events:event event.slug %}" />


  <title>{% block title %}{% endblock %} | PUG-PE</title>
  <link href="http://fonts.googleapis.com/css?family=Signika:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
  {% block extrastyle %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="apple-touch-icon" href=" ">
  <script type="text/javascript">
  
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-34635796-1']);
   _gaq.push(['_trackPageview']);
  
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  
  </script>
{% block extrahead %}{% endblock %}
</head>
<body>
  <!-- facebook js start -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ FACEBOOK_APP_ID }}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- facebook js end -->
  <div class="quickbar">
    <div class="wrapper">
      <a href="{% url archive:past_events %}" class="">Arquivo</a>
      <a target="_blank" href="https://twitter.com/PUGPE" class="">twitter</a>
      <a target="_blank" href="http://www.facebook.com/pug.pe" class="">facebook</a>
      <a target="_blank" href="http://pugpe.wordpress.com/" class="">blog</a>
      <a target="_blank" href="http://www.flickr.com/search/?q=pug-pe&s=rec" class="">Flickr</a>
      <a target="_blank" href="https://groups.google.com/group/pug-pe?hl=pt&pli=1" class="">Lista de Discussão</a>
    </div>
  </div>
  <header class="top">
    <div class="wrapper">
      <h1><a href="{% if event %}{% url events:event event.slug %}{% else %}{% url index %}{% endif %}">{{ event }}</a></h1>
      <nav>
        {% block navigator %}{% endblock %}
      </nav>
      <div class="clearfix"></div>
    </div>
  </header>
  <div class="wrapper main">
    {% block content %}{% endblock %}
  </div>
  <footer class="bottom">
    <div class="wrapper">
        <p>{% now "Y" %} - PUG-PE</p>
    </div>
  </footer>
</body>
</html>

