{% extends "base.html" %}

{% load thumbnail %}

{% block navigator %}
  <ul>
    <li>
      <a href="{% if event %}{% url events:event event.slug %}{% else %}{% url index %}{% endif %}#home" class="active">INÍCIO</a>
    </li>
    <li>
      <a href="{% if event %}{% url events:event event.slug %}{% else %}{% url index %}{% endif %}#local">LOCAL</a>
    </li>
    <li>
      <a href="{% if event %}{% url events:event event.slug %}{% else %}{% url index %}{% endif %}#talks">PALESTRAS</a>
    </li>
    <li>
      <a href="{% if event %}{% url events:event event.slug %}{% else %}{% url index %}{% endif %}#agenda">PROGRAMAÇÃO</a>
    </li>
    {% if date_now < event.submission_deadline %}
    <li>
      <a href="{% if event %}{% url submission:submission event.slug %}{% else %}{% url index %}{% endif %}">SUBMISSÃO DE PALESTRA</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <section class="content">
  {% block event_content %}
  {% endblock %}
  </section>
  <aside class="info">
    <div class="panel">
      {% if sponsors.exists %}
          <h3 class="red">Patrocinadores</h3>
          {% for sponsor in sponsors %}
              <a target="_blank" href="{{ sponsor.url }}"><img src="{% thumbnail sponsor.logo 250x153  %}" /></a>
          {% endfor %}
      {% endif %}
      {% if supporters.exists %}
          <h3 class="red">Apoio</h3>
          {% for support in supporters %}
              <a target="_blank" href="{{ support.url }}"><img src="{% thumbnail support.logo 250x153  %}" /></a>
          {% endfor %}
      {% endif %}
      <h3 class="red">Realização</h3>
      <a target="_blank" href="http://pug.pe/"><img src="{{ STATIC_URL }}img/logo_pug.jpg" /></a>
    </div>
  </aside>
  <div class="clearfix"></div>
{% endblock %}