{% extends "base_event.html" %}
{% load i18n bootstrap %}

{% block title %}{% blocktrans %}Submeta sua proposta para o {{ event }}!{% endblocktrans %}{% endblock %}

{% block event_content %}
    <h2>Submeta sua proposta para a {{ event }}!</h2>
    {% blocktrans %}
    <p>Este formulário visa a convidar a todos a submeterem palestras para o nosso {{ event }}.  O evento será realizado em {{ event_date }}
    {% endblocktrans %}

    {% if location_name %} na <a href="{{ location_map_link }}">{{ location_name }}</a>{% endif %}.  Qualquer um pode submeter quantas quiser.<br>
    As palestras relâmpagos terão duração no máximo de 10 minutos.<br>
    Submetam!<br>
    Atenciosamente,<br>
    Equipe PUG-PE</p>
    <h3>{% trans "Ficha de Inscrição" %}</h3>
    <form method="POST" action="." class="sign-in">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Enviar" %}</button>
            <button type="reset" class="btn">{% trans "Limpar" %}</button>
        </div>
    </form>
{% endblock %}
