<!DOCTYPE html>
<html>
    <body>
        <p>Caros, desde Fevereiro de 2010 temos nos encontrado com frequência para discutir, aprender e compartilhar conhecimentos sobre python, e é com muito orgulho que anunciamos o nosso XX encontro do Python User Group - Pernambuco.</p>
        <p>Para esta edição viemos pedir a sua opinião para saber quais palestras serão apresentadas no evento por meio <a href="http://{{ site }}{% url submission:vote %}?token={{ token }}">desta votação </a>.</p>
        <p>O evento será realizado no auditório do departamento de computação da Escola Politécnica de Pernambuco, sábado, dia 15 de setembro, 8hrs as 17hrs.</p>
        <p>Att.<br/>Organização PyconPE</p>
        <p></p>
        <small>Você está recebendo esse e-mail por estar cadastrado na lista de e-mail do pug-pe, caso não deseja receber e-mails, clique em <a href="http://{{ site }}{% url emails:optout %}?token={{ token }}">Cancelar</a></small>
    </body>
</html>
